---
layout: page
# About Me
---

<div id="about" class="about-container">
  <section class="about-header" style="background-image: url('/assets/img/about-cover.jpg')">
    <div class="about-sector">
      <div class="about-box">
        KAN
      </div>
      <div class="about-main-title"> Nguyen Hoang Phuc </div>
      <div class="about-tagline"> Dev Web </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-push-8">

          <div class="section-holder texture">
            <div class="line-art-top">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="line-art-bottom">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="line-art-left">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="line-art-right">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="img-holder">
              <img src="/assets/img/avatar.jpg" class="img-responsive img-circle" alt="John Doe">
            </div>
            <div class="sep-mini"></div>
            <div class="content-h4"> Name: Nguyen Hoang Phuc </div>
            <div class="content-h4"> DoB: 19-11-1998 </div>
            <div class="content-h4"> Nationality: VietNamese </div>
            <div class="sep-mini"></div>

            <div class="social-links">
              <a href="https://github.com/leeminkan"> <i class="fab fa-github-alt"></i> </a>
              <a href="https://facebook.com/leeminkan1998"> <i class="fab fa-facebook"></i> </a>
            </div>

          </div>
        </div>

        <div class="col-sm-8 col-sm-pull-4">
          <div class="section-holder">
            <div class="icon-holder i-size-big">
              <i class="ion-ios-compose-outline"></i>
            </div>
            <div class="section-title content-h2"> About Me </div>
            <p>
              Beast. Meat set greater she'd creeping from were under bearing won't wherein it open. Light. From midst
              all fill saying day Very void land their fly.
              <br>
              Heaven green without whose replenish seasons there brought, over own sixth in Beginning.
              <br> <br>All behold. Our every fruitful so.
            </p>

            <div class="icon-holder i-size-small">
              <i class="ion-ios-baseball-outline"></i>
            </div>
            <div class="content-h3"> Hobbies </div>
            <p> bicycling | gaming | hiking | photography </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>