/*
  Post-specific style
*/
.secret-post-content {
  position: relative;

  .blur-post {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aqua;
    filter: blur(18px);
    -webkit-filter: blur(18px);
  }

  .secret-form {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: aqua;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        margin-top: 15px;
        border-radius: 5px;
        background-color: #4caf50; /* Green */
        border: none;
        text-align: center;
        max-width: 120px;
        cursor: pointer;
      }
    }
  }

  .hide-first-load {
    display: none;
  }

  .hide-before-authen {
    display: none;
  }
}
